__pycache__/__init__.cpython-312.pyc
__pycache__/admin.cpython-312.pyc
__pycache__/apps.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/views.cpython-312.pyc
__pycache__/__init__.cpython-312.pyc
__pycache__/admin.cpython-312.pyc
__pycache__/apps.cpython-312.pyc
__pycache__/models.cpython-312.pyc
__pycache__/views.cpython-312.pyc
migrations/__pycache__/__init__.cpython-312.pyc
migrations/__pycache__/0001_initial.cpython-312.pyc
migrations/__pycache__/0002_auto_20220422_0914.cpython-312.pyc
migrations/__pycache__/0003_data.cpython-312.pyc
migrations/__pycache__/0004_auto_20221121_1234.cpython-312.pyc
migrations/__pycache__/0005_page_p_menu_stack.cpython-312.pyc
migrations/__pycache__/0006_speed_dial.cpython-312.pyc
migrations/__pycache__/0007_auto_20231201_1455.cpython-312.pyc
migrations/__pycache__/0008_speed_dial_sd_icone.cpython-312.pyc
migrations/__pycache__/0009_speed_dial_sd_color.cpython-312.pyc
migrations/__pycache__/0010_auto_20231222_1114.cpython-312.pyc
migrations/__pycache__/0011_auto_20240118_2009.cpython-312.pyc
migrations/__pycache__/0011_auto_20240118_2011.cpython-312.pyc
migrations/__pycache__/0011_auto_20240118_2016.cpython-312.pyc
migrations/__pycache__/0011_alter_page_p_menu_parent.cpython-312.pyc
migrations/__pycache__/0012_page_p_menu_est_parent.cpython-312.pyc
migrations/__pycache__/0013_alter_page_p_menu_parent.cpython-312.pyc
migrations/__pycache__/0014_fichier.cpython-312.pyc
migrations/__pycache__/0015_auto_20240119_1346.cpython-312.pyc
migrations/__pycache__/__init__.cpython-39.pyc
migrations/__pycache__/0001_initial.cpython-39.pyc
migrations/__pycache__/0002_auto_20220422_0914.cpython-39.pyc
migrations/__pycache__/0003_data.cpython-39.pyc
migrations/__pycache__/0004_auto_20221121_1234.cpython-39.pyc
migrations/__pycache__/0005_page_p_menu_stack.cpython-39.pyc
migrations/__pycache__/0006_speed_dial.cpython-39.pyc
migrations/__pycache__/0007_auto_20231201_1455.cpython-39.pyc
migrations/__pycache__/0008_speed_dial_sd_icone.cpython-39.pyc
migrations/__pycache__/0009_speed_dial_sd_color.cpython-39.pyc
migrations/__pycache__/0010_auto_20231222_1114.cpython-39.pyc
migrations/__pycache__/0011_alter_page_p_menu_parent.cpython-39.pyc
migrations/__pycache__/0012_page_p_menu_est_parent.cpython-39.pyc
migrations/__pycache__/0013_alter_page_p_menu_parent.cpython-39.pyc
migrations/__pycache__/0014_fichier.cpython-39.pyc
migrations/__pycache__/0015_auto_20240119_1346.cpython-39.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/admin.cpython-39.pyc
__pycache__/apps.cpython-39.pyc
__pycache__/models.cpython-39.pyc
__pycache__/views.cpython-39.pyc
