{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block modals %}
{% endblock %}

{% block main %}
<div class="card text-center mx-auto m-3 border-light " style="width: 32rem;">
	<img src="/static/img/img-404.jpg" class="card-img-top">
	<div class="card-body">
		<p>Désoler, nous l’avons bien cherché, mais nous ne l’avons pas trouvé. Cette page n’est surement plus d’actualité.</p>
	</div>
</div>
{% endblock %}

{% block right_panel %}
{% endblock %}

{% block script %}
{% endblock %}




