{% load static %}
<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="{%if page.p_mots_clefs%}{{page.p_mots_clefs}}{% endif %}">
	<meta name="description" content="{% if page.p_description %}{{page.p_description}}{% endif %}">
	{% block add_meta_description %}{% endblock %}
	<title>{{page.c_sitename}}{% if page.p_meta_title %} | {{page.p_meta_title}}{% elif page.p_titre %} | {{page.p_titre}}{% endif %}</title>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="//fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/7cf2a101ac.js"></script>
	{% if not request.user.is_authenticated %}
		<script data-ad-client="ca-pub-0171697375250839" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	{% endif %}
	<style type="text/css">
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		body {
			background-color:black;
			background-image: url('{% static page.c_bgimagelogo %}'), url('{% static page.c_bgimage %}') ;
			background-position: 96% 95%, center ;
			background-size: 20%,cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			font-size: 15px;
		}
	</style>
</head>
<body class="d-flex flex-column h-100">
	<header style="color: #fff; font-family: Kufam', cursive;">
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: {{page.c_bgcolor}};"> 
		<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<a class="navbar-brand" href="{% url 'core_index' %}"><i class="{{page.c_sitelogo}}"></i> {{page.c_sitename}} </a>
		{% if page.p_menu_haut %}
		<ul class="navbar-nav mr-auto">
		{% regroup page.p_menu_haut by p_menu_parent as menu_with_parent %}

		{% for p_menu_parent in menu_with_parent%}
			{% if p_menu_parent.grouper != none %}
			<div class="navbar-nav dropdown">
			<a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars" ></i> {{ p_menu_parent.grouper }}</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				{% for item in p_menu_parent.list|dictsortreversed:"p_menu_poid" %}
					<a class="dropdown-item" {%if item.p_type == "lien_ext" %}target="_blank"{% endif %}  href="{{item.p_adresse}}">{% if item.p_icone %}<i class="{{item.p_icone}}" ></i> {% endif %}{{item.p_titre}}</a></li>
				{% endfor %}
				</div>
			</div>
			{% else %}
				{% for item in p_menu_parent.list %}
					<li class="nav-item"><a class="nav-link" {%if item.p_type == "lien_ext" %}target="_blank"{% endif %}  href="{{item.p_adresse}}">{% if item.p_icone %}<i class="{{item.p_icone}}" ></i> {% endif %}{{item.p_titre}}</a></li>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
		{% if page.c_menulogin == 'True' %}
			<div class="navbar-nav dropdown">
				<a class="nav-link dropdown-toggle mr-5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-id-badge" ></i> Mon profil</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					{% if not request.user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'core_login' %}" ><i class="fas fa-sign-in-alt"></i> Connexion</a>
					{% elif request.user.is_authenticated %}
						<a class="dropdown-item" href="{% url 'admin:index' %}" ><i class="fas fa-cog" ></i> Admin</a>
						<a class="dropdown-item" href="{% url 'core_logout' %}" ><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
		</div>
		<div class="pos-f-t d-lg-none justify-content-end">
			<a class="navbar-brand" href="{% url 'core_index' %}"><i class="{{page.c_sitelogo}}"></i> {{page.c_sitename}} </a>
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="p-3" style="background-color: {{page.c_bgcolor}};">
				{% if page.p_menu_haut %}
					<ul class="navbar-nav">
					{% for item in page.p_menu_haut %}
						<li class="nav-item"><a class="nav-link" {%if item.p_type == "lien_ext" %}target="_blank"{% endif %} href="{{item.p_adresse}}">{% if item.p_icone %}<i class="{{item.p_icone}}" ></i> {% endif %}{{item.p_titre}}</a></li>
					{% endfor %}
					{% if page.c_menulogin == 'True' %}
						<hr>
						{% if not request.user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="{% url 'core_login' %}" ><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
						{% elif request.user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}" ><i class="fas fa-cog" ></i> Admin</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'core_logout' %}" ><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
						{% endif %}
					{% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
		<nav class="navbar navbar-dark" style="background-color: {{page.c_bgcolor}};">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			 </button>
		</nav>
		</div>
	</div>
	</nav>
</header>
<main role="main" class="flex-shrink-0">
<div class="container-fluid mw-100">
	<div class="row p-2">
		{% block left_panel %}
		{% endblock %}
		<div class="col-lg-9 p-lg-1 p-md-0 mb-sm-1">
			{% if messages %}
				<div class="card-body messages p-0 mr-3 ml-3">
				{% for message in messages %}
					<div class="m-2 alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
					<button type="button" class="close" data-dismiss="alert" >&times;</button>
					{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
			<div class="card" style="background-color: rgba(250,250,250,0.88);" >
				{% if page.p_see_title_and_des_in_templates == True %}
				<div class="card-header">
						<h2>{% block title %}{% if page.p_icone != "" %}<i class="{{page.p_icone}}"></i> {% endif %}{{page.p_titre|safe}}{% endblock %}</h2>
				</div>
				{% endif %}
				{% if page.p_include %}
					{% include page.p_include %}
				{% else %}
					{% block main %}{% endblock %}
				{% endif %}
			</div>
		</div>
		<div class="col-lg-3 p-lg-1 p-md-0 mb-sm-1">
			<div class="card" style="background-color: rgba(250,250,250,0.88);" >
				{% include 'feeds_link.html' %}
				{% block right_panel %}
				{% endblock %}
				{% if not request.user.is_authenticated and page.p_right and not "account/" in request.path %}
					<div class="card-body">
						<h5 class="card-title"> Une Pub </h5>
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Pub-1 -->
						<ins class="adsbygoogle"
							style="display:block"
							data-ad-client="ca-pub-0171697375250839"
							data-ad-slot="9918621322"
							data-ad-format="auto"
							data-full-width-responsive="true">
						</ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
				{% endif %}
			</div>
	</div>
</div>
</main>
<footer class="footer mt-auto py-1 text-white" style="background-color: {{page.c_bgcolor}};">
	<div class="container">
		{{page.c_sitename}} - Jan. 2024
		{% if page.p_menu_pied %}
		{% for item in page.p_menu_pied %}
			<a class="link-light" href="{{item.p_adresse}}">{{item.p_titre}}</a>{% if not forloop.last %}, {% endif %}
		{% endfor %}
		{% endif %}
	</div>
</footer>
{% block modals %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
</body>
</html>
